
div{
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 100%;
  background-image: url("../000_images/puppy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}


img{
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 20px groove orange;
  padding: 20px;
  margin: 20px;

}
.onedog{
  border: 20px dashed; green;
}
.twodog{
  border: 20px solid yellow;
}
.threedog{
  border: 20px solid pink
}
